page-about {

    .header {
        @extend .g-bold;
        background-color: $navBarColor;
        color: $hoverColor;
        height: 64px;
        line-height: 64px;
        text-align: center;
        span {
            padding-top: 20px;
        }
    }

}
