page-about {

    .logo {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 12px;
        left: 12px;
    }

    .horizontal {
        display: flex;
        justify-content: space-between;
        text-align: center;
        span {
            width: 100vw;
        }
        margin: 0px !important;
        padding: 0px !important;
    }
    .large-logo {
        width: 60vw;
        height: 60vw;
        margin: 20vw;
        border: 1px solid;
        border-radius: 30px;
    }

}
