page-about {

    .header {
        @extend .g-bold;
        background-color: $navBarColor;
        color: $hoverColor;
        height: 64px;
        line-height: 64px;
        text-align: center;
        span {
            padding-top: 20px;
        }
    }

    .horizontal {
        display: flex;
        justify-content: space-between;
        text-align: center;
        span {
            width: 100vw;
        }
        margin: 0px !important;
        padding: 0px !important;
    }

}
