page-rate-exchange {
  .horizontal {
    display: flex;
    justify-content: space-between;
    text-align: center;

    span {
      width: 33vw;
      padding-left: 5px;
      padding-right: 5px;
    }

    span:nth-child(1) {
      text-align: left;
    }
  }

  .content-item {
    background-color: $backgroundColor !important;
  }

  .footer {
    position: absolute;
    display: flex;
    justify-content: space-around;
    background-color: #83b191;
    color: #000;
    height: 30px;
    bottom: 0;
    left: 0;
    right: 0;
    line-height: 30px;
  }

  .content {
    padding-bottom: 30px;
  }

  .g-wrapper-general {
    position: relative;
  }
}

.item-md ion-avatar img,
.item-md ion-avatar ion-img {
  border-radius: 0;
}
