page-rate-exchange {
    .horizontal {
        display: flex;
        justify-content: space-between;
        text-align: center;
        span {
            width: 33vw;
        }
        span:nth-child(1) {
            text-align: left;
        }
    }
    .content-item {
        background-color: $backgroundColor !important;
    }
    .header {
        @extend .g-bold;
        background-color: $navBarColor;
        color: $hoverColor;
        height: 64px;
        line-height: 64px;
        span {
            padding-top:20px;
        }
    }
    .footer {
        position: absolute;
        display: flex;
        justify-content: space-around;
        background-color: #83b191;
        color: #000;
        height: 30px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        line-height: 30px;
    }
    .content {
        padding-bottom: 30px;
    }
    .g-wrapper-general {
        position: relative;
    }
}

.item-md ion-avatar ion-img, .item-md ion-avatar img {
    border-radius: 0%;
}