<!--
  Generated template for the RateExchange page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-item class="header">
      <ion-avatar item-left>
        <img src="assets/icons/appicon.png">
      </ion-avatar>
      <div class="horizontal g-text">
        <span class="g-bold">Ngoại tệ</span>
        <span>Mua vào</span>
        <span>Bán ra</span>
      </div>
    </ion-item>
    <ion-title></ion-title>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="refreshContent($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing...">>
    </ion-refresher-content>
  </ion-refresher>
  <div class="g-wrapper-general">
    <div class="content">
        <ion-list *ngIf="rateExchangeData">
          <ion-item class="content-item" detail-push *ngFor="let item of rateExchangeData.Exrate" (click)="onClickItem(item)">
            <ion-avatar item-left>
              <img src="assets/flags-icon/{{item['@attributes'].CurrencyCode|lowercase}}.png">
            </ion-avatar>
            <!--<span> assets/flags-icon/{{item['@attributes'].CurrencyCode}}.png </span>-->
            <span class="g-text">{{item['@attributes'].CurrencyName}}</span>
            <div class="horizontal g-text g-bold">
              <span>{{item['@attributes'].CurrencyCode}}</span>
              <span>{{item['@attributes'].Buy}}</span>
              <span>{{item['@attributes'].Sell}}</span>
            </div>
            <!--<p>I've had a pretty messed up day. If we just...</p>-->
          </ion-item>
        </ion-list>
    </div>
    <div  *ngIf="rateExchangeData" class="footer g-small">
      <span>Cập nhập lúc {{rateExchangeData.DateTime}}</span>
    </div>
  </div>
</ion-content>