horizontal-tabs {
    .wrap-list {
        min-height: 40px;
        height: 100%;
    }
    .tab-list {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
        li {
            border-right: 1px solid #FFF;
            width: 100%;
            background: #9B9FAD;
            text-transform: uppercase;
            font-family: 'Century Gothic Bold';
            min-height: 36px;
            color: #FFF;
            text-align: center;
            line-height: 6vh;
            height: 6vh;
        }
        li:last-child {
            border: none;
        }
        li.active {
            background-color: #575A67;
        }
    }
}