page-gold-price {
    .horizontal {
        display: flex;
        justify-content: space-between;
        text-align: center;
        span {
            width: 33vw;
        }
    }
    .header {
        background-color: #000;
        color: #fff;
        height: 50px;
        line-height: 50px;
    }
    .footer {
        margin-bottom: 10px;
        display: flex;
        justify-content: space-around;
    }
}

