page-gold-price {
  .horizontal {
    display: flex;
    justify-content: space-between;
    text-align: center;

    span {
      width: 33vw;
    }

    span:nth-child(1) {
      text-align: left;
    }
  }

  .content-item {
    background-color: $backgroundColor !important;
  }

  .footer {
    display: flex;
    justify-content: space-around;
    background-color: #83b191;
    color: #000;
    height: 30px;
    line-height: 30px;
  }
}
