splash-page {

    ion-content  {
        // background-image: url("../assets/splash.png");
        // background-color: #424850;
    }
    .background {
        background-color: #424850;
        height: 100%;
        width: 100%;
        img {
            
        }   
    }
    

}
