.ios,
.md {
  page-charts {
    .scroll-content {
      background-color: $backgroundColor;
    }

    ion-card-header {
      font-weight: bold;
    }
  }

  .horizontal {
    display: flex;
    justify-content: space-between;
    text-align: center;

    span {
      width: 100vw;
    }
  }
}
