alert {
    /*
    .alert-ios .alert-button,
    .alert-md .alert-button {
        background-color: $auctionColor;
        color: $white;
        @extend .g-heading-3;
    }

    .alert-ios .alert-title, .alert-md .alert-title{
        color: $ebony;
        @extend .g-heading-2;
    }

    .alert-ios .alert-sub-title, .alert-md .alert-sub-title{
        color: $brightGrey;
        @extend .g-heading-3;
    }

    .alert-ios .alert-message, .alert-ios .alert-message{
        color:$brightGrey;
        @extend .g-text;
        max-height: 300px;
        height: auto;
    }
    .alert-ios, .alert-radio-label {
        @extend .g-text;
        font-family : $font-family-base;
    }
    */
}
