// http://ionicframework.com/docs/v2/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
//font
.g-heading-1 {
    font-weight: bold;
    font-size: 23px;
}

.g-heading-2 {
    font-weight: bold;
    font-size: 17px;
}

.g-heading-3 {
    font-weight: bold;
    font-size: 15px;
}

.g-text {
    font-size: 15px;
}

.g-caption {
    font-size: 13px;
}

.g-small {
    font-size: 12px;
}

.g-very-small {
    font-size: 10px;
}

.g-bold {
    font-weight: bold;
}

//wrappers
.g-wrapper-general {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;
    min-height: 100%;
    background-color: $backgroundColor;
}

ion-tabs {
    div.tabbar {
        border-top-color: rgba(0, 0, 0, .1) !important;
    }
    a {
        font-weight: bold;
        text-transform: uppercase;
    }
}

.nav-bar-block, .bar {
  background-color: $navBarColor !important;
}

@mixin icon-standard {
    margin-top: 0px !important;
    width: 25px !important;
    min-width: 25px !important;
    height: 25px !important;
    
}
.tabs-ios .tabbar {
    background-color: $navBarColor !important;
}
.tabbar .show-tabbar {
    background-color: $navBarColor !important;
}

.ion-ios-cash,
.tabs-md .tab-button[aria-selected=true] .tab-button-icon.ion-md-cash {
    content: url('../assets/icons/svg_ic_tygia_hover.svg');
    @include icon-standard;
}

.ion-ios-cash-outline,
.ion-md-cash {
    content: url('../assets/icons/svg_ic_tygia.svg');
    @include icon-standard;
}

.ion-ios-pulse,
.tabs-md .tab-button[aria-selected=true] .tab-button-icon.ion-md-pulse {
    content: url('../assets/icons/svg_ic_giavang_hover.svg');
    @include icon-standard;
}

.ion-ios-pulse-outline,
.ion-md-pulse {
    content: url('../assets/icons/svg_ic_giavang.svg');
}


.ion-ios-more,
.tabs-md .tab-button[aria-selected=true] .tab-button-icon.ion-md-more {
    content: url('../assets/icons/svg_ic_them_hover.svg');
    @include icon-standard;
}

.ion-ios-more-outline,
.ion-md-more {
    content: url('../assets/icons/svg_ic_them.svg');
    @include icon-standard;
}


.ion-ios-stats,
.tabs-md .tab-button[aria-selected=true] .tab-button-icon.ion-md-stats {
    content: url('../assets/icons/svg_ic_bieudo_hover.svg');
    @include icon-standard;
}

.ion-ios-stats-outline,
.ion-md-stats {
    content: url('../assets/icons/svg_ic_bieudo.svg');
    @include icon-standard;
}

.tabs-ios .tab-button:hover:not(.disable-hover), .tabs-ios .tab-button[aria-selected=true] {
    color: $hoverColor !important;
}
.tabs-ios .tab-button:hover:not(.disable-hover), .tabs-ios .tab-button[aria-selected=false] {
    color: #fff !important;
}
