connection-instable-popup {

    .g-wrapper-general {
        justify-content: center;
        align-items: center;
        font-family: $font-family-base;
        img {
            width: 113px;
            height: 113px;
        }
        p {
            margin-left: 30px;
            margin-right: 30px;
        }

    }

}
