<!--
  Generated template for the RequestQuotation page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content>
  <div class="g-wrapper-general">
    <img src="assets/icons/no-conection-512.png"/>
    <div>
      <h1 class="g-heading-1">
        CHÚ Ý
      </h1>
      <p class="g-text">
        Kết nối mạng của bạn không ổn định.<br>Vui lòng di chuyển đến khu vực có kết nối mạng tốt hơn.
      </p>
    </div>
  </div>
</ion-content>
